popover > contents {
	color: #b1b8c9;
	background-color: #131c26;
	border-radius: 0px;
}

popover modelbutton {
	font-size: 12px;
	border-radius: 0px;
	min-height: 24px;
	padding-left: 24px;
	padding-right: 8px;
}
popover modelbutton:hover {
	background-color: #2d766f;
}
popover separator {
	margin: 3px 0px;
}
popover stack > box {
	padding: 3px;
}