"Deep House Radio" url="http://62.210.105.16:7000/stream"
"HouseTime.fm" url="https://listen.housetime.fm/aac-hd.pls"
"TranceBase.fm" url="https://listen.trancebase.fm/aac-hd.pls"
"TechnoBase.fm" url="https://listen.technobase.fm/aac-hd.pls"
"Jam FM" url="https://online2.jamfm.ru/jam_aacplus"
// "Wappuradio" url="http://stream1.wappuradio.fi/wappuradio.opus"
"Радио СПУТНИК" url="http://online.sputnikfm.ru:8000/sputnik_mp3"
"Järviradio" url="https://jarviradio.radiotaajuus.fi:9000/jr"
"Groove FM" url="https://ms-live-groove.nm-elemental.nelonenmedia.fi/master.m3u8"
"Hitmix" url="https://ms-live-hitmix.nm-elemental.nelonenmedia.fi/master.m3u8"
"Easy Hits" url="https://ms-live-easyhits.nm-elemental.nelonenmedia.fi/master.m3u8"
"Loop" url="https://ms-live-loop.nm-elemental.nelonenmedia.fi/master.m3u8"
"Radio Suomi" url="https://yleradiolive.akamaized.net/hls/live/2027718/in-YleTampere/master.m3u8"
"Klassinen" url="https://yleradiolive.akamaized.net/hls/live/2027676/in-YleKlassinen/master.m3u8"
"RauteMusik 90s" url="http://90s-high.rautemusik.fm/"
