"Deep House Radio" url="http://62.210.105.16:7000/stream"
"HouseTime.fm" url="https://listen.housetime.fm/tunein-aac-hd-pls"
"TranceBase.fm" url="https://listen.trancebase.fm/tunein-aac-hd-pls"
"TechnoBase.fm" url="https://listen.technobase.fm/tunein-aac-hd-pls"
"Jam FM" url="https://online2.jamfm.ru/jam_aacplus"
// "Wappuradio" url="http://stream1.wappuradio.fi/wappuradio.opus"
"Радио СПУТНИК" url="http://online.sputnikfm.ru:8000/sputnik_mp3"
"Järviradio" url="https://jarviradio.radiotaajuus.fi:9000/jr"
"Groove FM" url="https://aud-stream-groove.nm-elemental.nelonenmedia.fi/playlist.m3u8"
"Hitmix" url="https://aud-stream-hitmix.nm-elemental.nelonenmedia.fi/playlist.m3u8"
"Easy Hits" url="https://aud-stream-easyhits.nm-elemental.nelonenmedia.fi/playlist.m3u8"
"Loop" url="https://aud-stream-loop.nm-elemental.nelonenmedia.fi/playlist.m3u8"
"Loop EDM" url="https://ext-stream-pl10.nm-elemental.nelonenmedia.fi/HEE/master.m3u8"
"YleX" url="https://yleradiolive.akamaized.net/hls/live/2027674/in-YleX/256/variant.m3u8"
"Radio Suomi" url="https://yleradiolive.akamaized.net/hls/live/2027720/in-YleTurku/256/variant.m3u8"
"Klassinen" url="https://yleradiolive.akamaized.net/hls/live/2027676/in-YleKlassinen/256/variant.m3u8"
"RauteMusik 90s" url="http://90s-high.rautemusik.fm/"
"Heart Cambridge" url="https://ice-sov.musicradio.com/HeartCambridgeMP3"
"KLSU" url="https://listen.lsureveille.com/stream"
