@define-color bg #bbb;
@define-color fg #100;
@define-color bg_hover #283b5c;
@define-color fg_hover #ffffff;
@define-color border_color_top #ddd;
@define-color border_color_bottom #444;

* {
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
}
menu, menuitem, tooltip, button {
    font-family: sans-serif;
}

window#waybar {
    /* font-family: RobotoMono Nerd Font SmBd, sans-serif; */
    background: #bbb;
    border: 2px outset grey;
    color: #100;
}

tooltip, tooltip label {
    background: @bg;
    color: @fg;
    padding: 0;
    margin: 0;
    border: 0;
}
menu {
    border: 0;
    padding: 2px;
    background: @bg;
    border: 1px outset #aaa;
}

separator {
    background: #333;
    margin: 0 5px;
}

menuitem {
    font-size: 14px;
    color: @fg;
    border: 0;
    padding: 3px 5px;
}
button {
    color: @fg;
    border: 0;
}

menuitem:hover, button:hover {
    background: @bg_hover;
    color: white;
}

.modules-right {
    margin-right: 5px;
}

#custom-startmenu {
    color: #353940;
    min-width: 32px;
    margin: 0;
    margin-top: 2px;
    padding-right: 6px;
    background: #bbb;
    border: 2px outset #888;
    border-top-width: 0;
}

#taskbar, window, .modules-left {
    margin: 0;
    border: 0;
    padding: 0;
}
#workspaces {
    font-size: 12px;
    margin: 0;
}
#workspaces button {
    transition: 0.2s;
    margin: 5px 2px;
    padding: 0 5px;
    min-height: 10px;
    border-radius: 4px;
    color: @fg;

    background: #bbb;
    border: 3px outset #777;
}
#workspaces button.active {
    border: 3px inset #777;
}
#workspaces button.active:hover {
    background: #ddd;
}
#workspaces button:hover {
    background: #ccc;
    -gtk-icon-shadow: none;
}

button {
    border-radius: 3px;
    border: 0;
}
#taskbar button {
    min-width: 200px;
    min-height: 22px;
    font-size: 14px;
    transition: 0.2s;
    margin: 3px 1px;
    padding: 0 5px;
    border-radius: 4px;
    color: @fg;

    background: #bbb;
    border: 2px outset #777;
}
#taskbar button.active {
    border: 2px inset #777;
    background: #ccc;
}

#taskbar button.active:hover {
    background: #ddd;
}
#taskbar button:hover {
    background: #ccc;
    -gtk-icon-shadow: none;
}

#wireplumber, #cpu {
    margin: 5px 0;
    padding: 0 5px;
    border-radius: 4px;
    background: #a0a0a0;
    border: 1px solid #888;
}
#cpu {
    min-width: 50px;
}

#wireplumber {
    min-width: 60px;
}

#tray {
    margin: 6px 0px;
    color: white;
}
#tray > * > image {
    min-width: 28px;
    border-radius: 4px;
    background: #353940;
    border: 1px outset #353940;
}
